{% extends '_base.html' %}

{% block page_title %}
    Delete post
{% endblock page_title %}

{% block content %}
    <div class="container">

        <h1> Are you sure?</h1>
        <p> Are you want to delete {{ post.title }} post permanently </p>
        <form method="POST">
            {% csrf_token %}
            <div>
                <button type="submit" class="btn btn-danger">Yes, delete it!</button>
                <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">No, take me back!</a>
            </div>
        </form>
    </div>
{% endblock content %}